@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
    --border-color: #144fc6;
    --fill-color: #9fcdf7;
}

* {
    box-sizing: border-box;
}

body {
    background: rgb(204,230,241);
    background: linear-gradient(90deg, rgba(204,230,241,0.7658643326039387) 0%, rgba(67,148,232,1) 100%, rgba(103,155,199,1) 100%, rgba(0,212,255,1) 100%); 
    color: #fff;
    font-family: 'Muli', sans-serif;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

h1 {
    margin: 10px 0 0;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}

.cup {
    background-color: #fff;
    border: 4px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cup.cup-small {
    height: 95px;
    width: 50px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}

.cups {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    align-items: center;
    justify-content: center;
}

.cup.cup-small.full {
    background-color: var(--fill-color);
    color: #fff;
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transform: 0.3s ease;
}

.remained span {
    font-size: 20px;
    font-weight: bold;
}

.remained small {
    font-size: 12px;
}

.percentage {
    background-color: var(--fill-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 0;
    font-size: 30px;
    transition: 0.3s ease;
}

.text {
    text-align: center;
    margin: 0 0 5px;

}